language: haskell
env:
  global:
  - ELM_HOME="./elm-home"
  - ELM_IO="./ElmIO"
install:
  - sudo wget -P /usr/local/bin/ http://deadfoxygrandpa.github.io/elm-travis-cache/elm
  - sudo wget -P /usr/local/bin/ http://deadfoxygrandpa.github.io/elm-travis-cache/elm-get
  - sudo wget -P /usr/local/bin/ http://deadfoxygrandpa.github.io/elm-travis-cache/elm-io
  - wget http://deadfoxygrandpa.github.io/elm-travis-cache/ElmIO.tar.gz
  - wget http://deadfoxygrandpa.github.io/elm-travis-cache/elm_home.tar.gz
  - sudo chmod +x /usr/local/bin/elm
  - sudo chmod +x /usr/local/bin/elm-get
  - sudo chmod +x /usr/local/bin/elm-io
  - tar -xzf ElmIO.tar.gz
  - tar -xzf elm_home.tar.gz ./
  - echo "y" | elm-get install evancz/automaton
  - echo "y" | elm-get install deadfoxygrandpa/Elm-Test
  - npm install jsdom
before_script: elm-io --default-ports Tests/NodeTests.elm tests.js
script:
  - elm --make Demo.elm
  - node --stack-size=32000 tests.js
